# Ignore environment files
.env

# Ignore Terraform/OpenTofu state, cache, and plan files
.terraform/
.tofu/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfplan
*.tfvars
*.tfvars.json
*.backup
*.log

# Ignore Python cache
__pycache__/
*.pyc
pyvenv.cfg

# Ignore VSCode settings
.vscode/
