# Ignore environment files
.env

# Ignore Terraform/OpenTofu state, cache, and plan files
.terraform/
.tofu/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfplan
*.tfvars
*.tfvars.json
*.backup
*.log
*.terraform.lock.hcl

# Ignore Python cache
__pycache__/
*.pyc
pyvenv.cfg

# Ignore VSCode settings
.vscode/

# Ignore virtual environment
.venv/

# Ignore testing files
cloud/tests/bin
cloud/tests/lib
cloud/tests/include
cloud/tests/lib64

# Ignore zip binaries
*.zip
